<div id="sidebar">
    <div class="app-user">
        <img *ngIf="profileImage !== ''" id="profileImg" [src]="profileImage" (click)="openProfileImage()"
             class="app-user-photo"
             onerror="this.src='../../../../assets/images/user-default-image.jpeg';"
             #profileImg>
        <span class="app-user-name mb5">
            <mat-icon class="icon-xs mat-icon text-muted mr10" role="img">verified_user</mat-icon>
            <span class="ml5">{{currentUser.firstName}} {{currentUser.lastName}}</span>
        </span>
    </div>
    <div class="app-user-controls">
        <div [matMenuTriggerFor]="settings"><mat-icon class="icon-control  mr20" role="img">settings</mat-icon></div>
        <div (click)="goToUserProfile()"><mat-icon class="icon-control  mr20" role="img" matTooltip="{{'profile' | translate}}">person</mat-icon></div>
        <div (click)="onLoggedout()"><mat-icon class="icon-control  mr20" role="img" matTooltip="{{'logout' | translate}}">logout</mat-icon></div>
    </div>
    <mat-divider style="margin-bottom: 15px;"></mat-divider>
    <span class="title-nav text-muted">{{'menu' | translate}}</span>
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon>
            {{ 'dashboard' | translate }}
        </a>

        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/jobs']">
            <mat-icon class="sidenav-icon">work</mat-icon>
            {{'jobs' | translate}}
        </a>
    </mat-nav-list>
</div>

<mat-menu #settings="matMenu">
    <button mat-menu-item (click)="goToUserProfile()">
        <mat-icon>person</mat-icon>
        <span>{{ 'profile' | translate }}</span>
    </button>
    <button mat-menu-item (click)="onLoggedout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'logout' | translate }}</span>
    </button>
</mat-menu>
