<mat-card style="height: 12em; cursor:pointer" class="hover-mat-card" (click)="onJobClick(job)">
    <mat-card-header>
        <img mat-card-avatar [matTooltip]="job.memberName" class="header-user-image"
             src="https://forum.bubble.is/uploads/default/original/3X/2/0/20d5d1a39bd75c04a76f5644ce692980ecb8e687.png">
        <mat-card-title style="text-align: center">{{job.title}}</mat-card-title>
        <mat-card-subtitle style="font-size: 13px;text-align: justify">{{displayDescription(job.description)}}
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>

<ng-template #jobModal>
    <mat-card>
        <mat-card-header>
            <img mat-card-avatar
                 src="https://forum.bubble.is/uploads/default/original/3X/2/0/20d5d1a39bd75c04a76f5644ce692980ecb8e687.png">
            <mat-card-title>
                <h3 class="m-0">{{selectedJob.title}}</h3>
            </mat-card-title>
            <mat-card-subtitle style="font-size: 13px;text-align: justify">by {{selectedJob.memberName}}</mat-card-subtitle>
            <div style="font-size: 11px" fxFlex fxLayoutAlign="end">
                <mat-icon class="nav-icon">location_on</mat-icon>
                Cluj-Napoca
            </div>
        </mat-card-header>

        <mat-card-content style="font-size: 13px;text-align: justify">{{selectedJob.description}}</mat-card-content>
        <mat-card-actions>
            <div fxFlex fxLayoutAlign="center">
                <button mat-button>
                    <mat-icon class="nav-icon">send</mat-icon>
                    Apply
                </button>
                <button mat-button (click)="closeDialog()">
                    <mat-icon class="nav-icon">cancel</mat-icon>
                    Close
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</ng-template>
