<ng-template #inviteModal>
    <div class="dialog">
        <h2 mat-dialog-title>Invite people for your job</h2>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <mat-selection-list [(ngModel)]="filteredUsers" (ngModelChange)="onNgModelChange($event)" >
            <mat-list-option *ngFor="let user of filteredUsers"
                             [value]="user">
                <div style="display:flex">
                    <img class="img-circle"
                         [src]="getProfilePicture(user.email)"
                         (click)="goToProfile(user.email)"
                         style="margin-right: 5em;width:20px;height:20px;">
                    <span>{{user.firstName}} {{user.lastName}}</span>
                </div>
            </mat-list-option>
        </mat-selection-list>

        <mat-card-actions>
            <div fxFlex fxLayoutAlign="center">
                <button *ngIf="showInvite" mat-button>
                    <mat-icon class="nav-icon">send</mat-icon>
                    Invite
                </button>
                <button mat-button (click)="closeDialog()">
                    <mat-icon class="nav-icon">cancel</mat-icon>
                    Close
                </button>
            </div>
        </mat-card-actions>
    </div>
</ng-template>

