<div *ngIf="user" class="mt20 col-md-12">

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">

        <div>
            <img src="{{profilePicture}}" class="user-photo" onerror="this.src='../../../../assets/images/user-default-image.jpeg';">
        </div>

        <div fxLayout="column">

            <div fxLayout="row" style="display:flex;align-items: center">
                <h1>
                    {{user.firstName}} {{user.lastName}}
                </h1>
                <button mat-raised-button color="primary" class="recommend-button" (click)="openRecommendDialog()">Recommend to others</button>
            </div>

            <label class="mt10">Email</label>
            <span>
                {{user.email}}
            </span>

            <label class="mt10">Birth Day</label>
            <span>
                {{user.birthDate | date:'dd-MM-yyyy'}}
            </span>

            <label class="mt10">Town</label>
            <span>
                {{user.town}}
            </span>

        </div>

    </div>

    <img src="../../../assets/images/tinsel.png" height="50px" width="100%">

    <h3>Latest 5 Reviews</h3>
    <app-reviews [userEmail]="user.email"></app-reviews>
</div>

<ng-template #recommendUser>
    <h4>Recommend user {{user.firstName + ' ' + user.lastName}} to:</h4>
    <mat-divider style="margin-bottom: 2em"></mat-divider>
    <app-search-user [userToRecommend]="user"></app-search-user>
</ng-template>
