<div *ngIf="user" class="mt20 col-md-12">
    <button *ngIf="userEmail === currentUser.email" mat-icon-button style="float:right" matTooltip="{{'editProfile' | translate}}" (click)="goToEditProfile()"><mat-icon>create</mat-icon></button>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">

        <div fxLayout="column">
            <img src="{{profilePicture}}" class="user-photo" (click)="openProfileImage(user.email)" onerror="this.src='../../../../assets/images/user-default-image.jpeg';">
            <div fxLayout="row" >
                <button mat-raised-button color="primary" class="recommend-button" (click)="openRecommendDialog()">{{'recommend' | translate}}</button>
                <button mat-raised-button color="primary" class="recommend-button" (click)="openInviteToJobDialog()">{{'inviteForJob' | translate}}</button>
            </div>

        </div>

        <div fxLayout="column">

            <div fxLayout="row" style="display:flex;align-items: center;">
                <h1>
                    {{user.firstName}} {{user.lastName}}
                </h1>
            </div>

            <label class="mt10">Email</label>
            <span>
                {{user.email}}
            </span>

            <label class="mt10">{{'birthDay' | translate }}</label>
            <span>
                {{user.birthDate | date:'dd-MM-yyyy'}}
            </span>

            <label class="mt10">{{'town' | translate}}</label>
            <span>
                {{user.town}}
            </span>

        </div>


    </div>
    <!--<div style="display: block">-->
        <!--<button mat-raised-button color="primary" class="recommend-button" (click)="openRecommendDialog()">Recommend to others</button>-->
    <!--</div>-->


    <h3>{{"latest5Reviews" | translate}}</h3>
    <app-reviews [userEmail]="user.email"></app-reviews>
</div>

<ng-template #recommendUser>
    <h4>{{'recommendUser' | translate}} {{user.firstName + ' ' + user.lastName}} {{'to' | translate }}:</h4>
    <mat-divider style="margin-bottom: 3em"></mat-divider>
    <app-search-user [userToRecommend]="user"></app-search-user>
</ng-template>
<app-invite-on-job *ngIf ="showDialogInvite" (close)="closeInviteDialog()"  [selectedUser]="userEmail"  >
</app-invite-on-job>
