
<div style="height:100%">
    <div class="notifications-header mat-bg-primary">
        <h4>{{'notifications' | translate}}</h4>
        <button mat-icon-button style="position:absolute; right: 0; margin-top: 15px" matTooltip="{{'markAsRead' | translate }}" (click)="markAllAsRead()">
            <mat-icon>done</mat-icon>
        </button>
        <button mat-icon-button style="position:absolute; right: 0; top: 0" (click)="hideNotifications()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    
    <div class="notifications-content">
         <mat-list>
            <mat-list-item *ngFor="let notification of notifications" class="notification-item">
                <span mat-title>{{notification.date | date:'shortTime'}}</span>
                <span style="font-size: 12px" >{{notification.text}} </span>
            </mat-list-item>
        </mat-list>
    </div>
</div>
