<mat-card class="mt20">

    <mat-card-content>
        <mat-tab-group>

            <mat-tab label="{{'profile' | translate }}">
                <div *ngIf="editMode" >
                    <app-profile-edit-page></app-profile-edit-page>
                </div>
                <div *ngIf="!editMode">
                    <app-profile-page [userEmail]="profileEmail"></app-profile-page>
                </div>
            </mat-tab>

            <mat-tab label="{{'abilities' | translate}}">
                <app-endorsements [userEmail]="profileEmail"></app-endorsements>
            </mat-tab>

            <mat-tab label="{{'changePassword' | translate }}" *ngIf="currentUser.email === profileEmail">
                <app-password-edit-page></app-password-edit-page>
            </mat-tab>

        </mat-tab-group>
    </mat-card-content>

</mat-card>
