<h3 class="mb20">Jobs</h3>

<div fxLayout="row">
    <form fxLayoutAlign="flex-start">
        <mat-form-field class="">
            <!--<input type="text" placeholder="Filter by title" matInput [formControl]="controlSearchTitle" [matAutocomplete]="auto">-->
            <!--<mat-autocomplete #auto="matAutocomplete">-->
                <!--<mat-option *ngFor="let option of filteredTitleOptions | async" [value]="option" (click)="filterJobsByTitle(option)">-->
                    <!--{{option}}-->
                <!--</mat-option>-->
            <!--</mat-autocomplete>-->
            <input type="text" placeholder="Filter by title" matInput [formControl]="controlSearchTitle" (keyup)="filterJobsByTitle()">
        </mat-form-field>
        <mat-chip-list class="ml10" fxLayoutAlign="center center">
             <mat-chip style="cursor: pointer" (click)="removeFilters()">Remove filters</mat-chip>
        </mat-chip-list>
    </form>

    <div fxFlex></div>
    <div class="mb10">
        <button mat-raised-button color="accent" (click)="onCreateJob()">
            <mat-icon>add</mat-icon>
            Add job
        </button>
    </div>
</div>
<mat-divider></mat-divider>

<div class="mt20" fxLayout="row wrap">
    <div fxFlex="24em" style="margin-bottom: 20px;margin-left:10px" *ngFor="let job of allJobs">
        <app-app-job [job]="job"></app-app-job>
    </div>
</div>

<div class="search-results"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="1000"
     (scrolled)="onScroll()">
</div>

<div *ngIf="!finished">
    <mat-spinner style="width: 50%; margin:0 auto;"></mat-spinner>
</div>
<app-app-job [visible]=false></app-app-job>
