<mat-card class="hover-mat-card job-card" (click)="onJobClick(job)">
    <mat-card-header style="overflow:hidden;display: flex;align-items: center;">
        <img mat-card-avatar [matTooltip]="job.ownerName" class="header-user-image"
             [src]="getProfilePicture(job.ownerEmail)" onerror="this.src='../../../../assets/images/user-default-image.jpeg';"
            (click)="goToProfile(job.ownerEmail)">
        <mat-card-title style="text-align: center;">{{displayTitle(job.title)}}</mat-card-title>
        <mat-card-subtitle style="font-size: 13px;text-align: justify;">{{displayDescription(job.description)}}
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>

<ng-template #jobModal>
    <mat-card>
        <mat-card-header>
            <img mat-card-avatar
                 [src]="getProfilePicture(job?.ownerEmail)" (click)="goToProfile(job?.ownerEmail)">
            <mat-card-title>
                <h3 class="m-0">{{selectedJob?.title}}</h3>
            </mat-card-title>
            <mat-card-subtitle style="font-size: 13px;">by {{job?.ownerName}}</mat-card-subtitle>
            <div fxFlex></div>
            <div *ngIf="selectedJob?.jobStatus === 'OPEN'" style="display: table;">
                <mat-icon>event_available</mat-icon>
                <span class="ml5" style="color: green; text-align: center;display: table-cell;vertical-align: middle;">OPEN</span>
            </div>
        </mat-card-header>

        <mat-card-content style="font-size: 13px;text-align: justify">{{selectedJob?.description}}</mat-card-content>
        <mat-card-actions>
            <div fxFlex fxLayoutAlign="center">
                <button *ngIf="currentUser.email !== job.ownerEmail && !currentUserApplicated" mat-button (click)="applyJob()">
                    <mat-icon class="nav-icon">send</mat-icon>
                    Apply
                </button>
                <button mat-button (click)="closeDialog()">
                    <mat-icon class="nav-icon">cancel</mat-icon>
                    Close
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</ng-template>
