<mat-card *ngIf="visible" class="hover-mat-card job-card" (click)="onJobClick(job)">
    <mat-card-header style="overflow:hidden;display: flex;align-items: center;">
        <img mat-card-avatar [matTooltip]="job.ownerName" class="header-user-image"
             [src]="getProfilePicture(job.ownerEmail)" onerror="this.src='../../../../assets/images/user-default-image.jpeg';"
            (click)="goToProfile(job.ownerEmail)">
        <mat-card-title style="text-align: center;">{{displayTitle(job.title)}}</mat-card-title>
        <mat-card-subtitle style="font-size: 13px;text-align: justify;">{{displayDescription(job.description)}}</mat-card-subtitle>
        <div fxFlex></div>
        <div *ngIf="job?.jobStatus === 'OPEN'" style="position:absolute;right:5%;top:5%;display: table;">
            <mat-icon>event_available</mat-icon>
            <span class="ml5" style="color: green; text-align: center;display: table-cell;vertical-align: middle;">OPEN</span>
        </div>
        <div *ngIf="job?.jobStatus === 'DONE'" style="position:absolute;right:5%;top:5%;display: table;">
            <mat-icon>done</mat-icon>
            <span class="ml5" style="color: red; text-align: center;display: table-cell;vertical-align: middle;">DONE</span>
        </div>
        <div *ngIf="job?.jobStatus === 'ACCEPTED'" style="position:absolute;right:5%;top:5%;display: table;">
            <mat-icon>done_all</mat-icon>
            <span class="ml5" style="color: darkgreen; text-align: center;display: table-cell;vertical-align: middle;">ACCEPTED</span>
        </div>
    </mat-card-header>
</mat-card>
<mat-menu #statuses="matMenu">
    <button *ngFor="let status of jobStatuses" mat-menu-item (click)="changeStatusOfJob(status)">
        <span>{{status}}</span>
    </button>
</mat-menu>

<ng-template #jobModal>
    <mat-card>
        <mat-card-header>
            <img mat-card-avatar
                 [src]="getProfilePicture(job?.ownerEmail)" (click)="goToProfile(job?.ownerEmail)">
            <mat-card-title>
                <h3 class="m-0">{{selectedJob?.title}}</h3>
            </mat-card-title>
            <mat-card-subtitle style="font-size: 13px;">
                <span>by {{job?.ownerName}}</span>
            </mat-card-subtitle>
            <div fxFlex></div>
            <button [disabled]="selectedJob.ownerEmail !== currentUser.email" style="cursor:pointer;height:2%;" class="mat-button" [matMenuTriggerFor]="statuses">
                <div *ngIf="selectedJob?.jobStatus === 'OPEN'" style="display: table;">
                    <mat-icon>event_available</mat-icon>
                    <span class="ml5" style="color: green; text-align: center;display: table-cell;vertical-align: middle;">OPEN</span>
                    <button *ngIf="selectedJob?.ownerEmail === currentUser.email" (click)="editJob(selectedJob)" mat-icon-button style=""><mat-icon>create</mat-icon></button>

                </div>
                <div *ngIf="selectedJob?.jobStatus === 'DONE'" style="display: table;">
                    <mat-icon>done</mat-icon>
                    <span class="ml5" style="color: red; text-align: center;display: table-cell;vertical-align: middle;">DONE</span>
                    <button  *ngIf="selectedJob?.ownerEmail === currentUser.email" (click)="editJob(selectedJob)" mat-icon-button style="display:table-cell; vertical-align: middle"><mat-icon>create</mat-icon></button>

                </div>
                <div *ngIf="selectedJob?.jobStatus === 'ACCEPTED'" style="display: table;">
                    <mat-icon>done_all</mat-icon>
                    <span class="ml5" style="color: darkgreen; text-align: center;display: table-cell;vertical-align: middle;">ACCEPTED</span>
                    <button  *ngIf="selectedJob?.ownerEmail === currentUser.email" (click)="editJob(selectedJob)"  mat-icon-button style="display:table-cell; vertical-align: middle"><mat-icon>create</mat-icon></button>
                </div>
            </button>
        </mat-card-header>
        <mat-accordion>
            <mat-expansion-panel *ngIf="currentUser.email === selectedJob.ownerEmail">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{'peopleWhoAppliedForThisJob' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-selection-list #userSelection (selectionChange)="onSelectedUserForJob($event)">
                    <mat-list-option *ngFor="let applicant of applicationsJob" 
                    [value]="applicant"
                    [selected]="applicant.email === job.employeeEmail">
                        <div style="display:flex">
                            <img class="img-circle" 
                            [src]="getProfilePicture(applicant.email)" 
                            (click)="goToProfile(applicant.email)"
                            style="margin-right: 5em;width:20px;height:20px;">
                            <span>{{applicant.firstName}} {{applicant.lastName}}</span>
                        </div>
                    </mat-list-option>
                </mat-selection-list>
                <button mat-button (click)="submitApplicant(userSelection)">
                    {{'selectForYourJob' | translate}}
                </button>
            </mat-expansion-panel>
        </mat-accordion>
        <br>
        
        <mat-card-content style="font-size: 13px;text-align: justify">{{selectedJob?.description}}
        </mat-card-content>
        <mat-chip-list *ngIf="abilities != null">
            <mat-chip *ngFor="let ability of abilities">{{ability}}</mat-chip>
        </mat-chip-list>
        <mat-card-actions>
            <div fxFlex fxLayoutAlign="center">
                <button *ngIf="currentUser.email !== job.ownerEmail && !currentUserApplicated" mat-button (click)="applyJob()">
                    <mat-icon class="nav-icon">send</mat-icon>
                    {{'apply' | translate}}
                </button>
                <button *ngIf="currentUser.email === job.ownerEmail" mat-button (click)="removeJob()">
                    <mat-icon class="nav-icon">delete_forever</mat-icon>
                    {{'delete' | translate}}
                </button>

                <button mat-button (click)="closeDialog()">
                    <mat-icon class="nav-icon">cancel</mat-icon>
                    {{'close' | translate}}
                </button>
                <button *ngIf="currentUser.email === job.ownerEmail"  mat-button (click)="openInviteDialog()">
                    <mat-icon>add</mat-icon>
                    {{'invite' | translate}}
                </button>

            </div>
        </mat-card-actions>
    </mat-card>
</ng-template>
    <app-invite-people-job *ngIf ="showDialogInvite" (close)="closeInviteDialog()"  [showInvite]="true" [selectedUsers]="invitedUsers" [jobUUID]="selectedJob.uuid" >
    </app-invite-people-job>

