<div class="mt20 col-md-10">
    <form [formGroup]="securityForm" (ngSubmit)="onChangeSecurity()">
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill class="">
                <mat-form-field class="w-100">
                    <input matInput type="password" placeholder="Current password *"
                           formControlName="currentPassword">
                </mat-form-field>
            </div>
            <small class="text-danger"
                   *ngIf="securityForm.controls['currentPassword'].touched && !securityForm.controls['currentPassword'].valid">
                Current password is required !
            </small>
        </div>

        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill>
                <mat-form-field class="w-100">
                    <input matInput type="password" placeholder="New password *"
                           formControlName="password">
                </mat-form-field>
            </div>
            <small class="text-danger"
                   *ngIf="securityForm.controls['password'].touched && !securityForm.controls['password'].valid">
                New password is required !
            </small>
        </div>

        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill>
                <mat-form-field class="w-100">
                    <input matInput type="password" placeholder="Confirm password *"
                           formControlName="confirmPassword">
                </mat-form-field>
            </div>
            <small class="text-danger"
                   *ngIf="securityForm.controls['confirmPassword'].touched && securityForm.hasError('invalidConfirm')">
                Passwords do not match !
            </small>
        </div>

        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill>
                <button type="submit" mat-raised-button color="primary" class="w-100"
                        [disabled]="!securityForm.valid">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>
