<div class="mt20 col-md-10">
    <form [formGroup]="securityForm" (ngSubmit)="onChangeSecurity()">
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill class="">
                <mat-form-field class="w-100">
                    <input matInput type="password" placeholder="{{'currentPassword' | translate}}"
                           formControlName="currentPassword">
                </mat-form-field>
            </div>
            <small class="text-danger"
                   *ngIf="securityForm.controls['currentPassword'].touched && !securityForm.controls['currentPassword'].valid">
                {{'currentPasswordRequired' | translate}}
            </small>
        </div>

        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill>
                <mat-form-field class="w-100">
                    <input matInput type="password" placeholder="{{'newPassword' | translate}}"
                           formControlName="password">
                </mat-form-field>
            </div>
            <small class="text-danger"
                   *ngIf="securityForm.controls['password'].touched && !securityForm.controls['password'].valid">
                {{'newPasswordRequired' | translate }}
            </small>
        </div>

        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill>
                <mat-form-field class="w-100">
                    <input matInput type="password" placeholder="{{'confirmPassword' | translate }}"
                           formControlName="confirmPassword">
                </mat-form-field>
            </div>
            <small class="text-danger"
                   *ngIf="securityForm.controls['confirmPassword'].touched && securityForm.hasError('invalidConfirm')">
                {{'passwordsNotMatch' | translate}}
            </small>
        </div>

        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill>
                <button type="submit" mat-raised-button color="primary" class="w-100"
                        [disabled]="!securityForm.valid">
                    {{'save' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>
