<mat-toolbar color="primary" class="fix-nav">
    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="nav-brand">
        My application
    </div>
    <app-search-user [userToRecommend]="null"></app-search-user>
    <span class="nav-spacer"></span>

    <!--<button class="hidden-sm" mat-icon-button matTooltip="Profile" [matMenuTriggerFor]="profile">-->
        <!--<mat-icon>account_circle</mat-icon>-->
    <!--</button>-->
    <mat-menu #profile="matMenu">
        <button mat-menu-item (click)="goToUserProfile()">
            <mat-icon>person</mat-icon>
            <span>{{ 'Profile' | translate }}</span>
        </button>
        <button mat-menu-item (click)="onLoggedout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>{{ 'Logout' | translate }}</span>
        </button>
    </mat-menu>
    <!--<button mat-icon-button matTooltip="Logout" (click)="onLoggedout()">-->
        <!--<mat-icon>exit_to_app</mat-icon>-->
    <!--</button>-->
    <mat-icon matBadge="1" matBadgePosition="above after" matBadgeColor="accent" style="cursor:pointer" matTooltip="Notifications" (click)="toggleMenuNotifications()">notifications</mat-icon>
    <img mat-icon-button
         [src]="getProfilePicture(currentUser.email)"
         class="icon-profile"
         [matMenuTriggerFor]="profile">
</mat-toolbar>

<app-notifications  [@slideInOut]="menuNotificationsState"></app-notifications>
