<mat-toolbar color="primary" class="fix-nav">
    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <!--<div class="nav-brand">-->
        <!--{{ 'applicationName' | translate}}-->
    <!--</div>-->
    <div class="nav-brand">
        <img src="../../../../assets/images/logo.png" style=" width: auto;
  max-width: 180px;
  height: auto;
  max-height: 100px;">
    </div>
    <app-search-user [userToRecommend]="null"></app-search-user>
    <span class="nav-spacer"></span>
    <img
         src="../../../../assets/images/ro.png"
         class="icon-profile"
         (click)="changeLang('ro')"
         >
    <img src="../../../../assets/images/uk.png"
         class="icon-profile"
         (click)="changeLang('en')"
         >
    <mat-icon matBadge="{{unreadCount.value}}" matBadgePosition="above after" matBadgeColor="accent" style="cursor:pointer" matTooltip="Notifications" (click)="toggleMenuNotifications()">notifications</mat-icon>
</mat-toolbar>

<app-notifications  [@slideInOut]="menuNotificationsState" [unreadCount]="unreadCount" [notifications]="notifications"></app-notifications>
