<div class="dialog">

<h2 mat-dialog-title>Create a Job</h2>

<form class="job-create-form" [formGroup]="jobCreateForm" (ngSubmit)="onJobCreate()">
    <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
            <mat-form-field class="w-100">
                <mat-select placeholder="Job Type" [(ngModel)]="selectedJobType" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let jobType of jobTypes" [value]="jobType">
                        {{jobType.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
            <mat-form-field class="w-100">
                <input matInput placeholder="Job Title *" formControlName="jobTitle">
            </mat-form-field>
            <small class="alert-danger"
                   *ngIf="jobCreateForm.controls['jobTitle'].touched && jobCreateForm.controls['jobTitle'].hasError('required')">Title
                is required !
            </small>
        </div>
    </div>
    <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
            <mat-form-field class="w-100">
                <input matInput placeholder="Job Description *" formControlName="jobDescription">
            </mat-form-field>
            <small class="alert-danger"
                   *ngIf="jobCreateForm.controls['jobDescription'].touched && jobCreateForm.controls['jobDescription'].hasError('required')">Descriptionn
                is required !
            </small>
        </div>
    </div>
    <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
            <mat-checkbox class="w-100" formControlName="isPrivate"></mat-checkbox>
            <label>Private</label>
        </div>
    </div>
    <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
            <button mat-raised-button color="accent" type="submit">
                save job
            </button>
        </div>
    </div>
</form>
</div>
