<h2 mat-dialog-title>Create a Job</h2>
<form class="job-create-form" [formGroup]="jobCreateForm" (ngSubmit)="onJobCreate()">

    <mat-form-field class="w-100">
        <mat-select placeholder="Job Type" [(ngModel)]="jobTypeSelected" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let jobType of jobTypes" [value]="jobType">
                {{jobType.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <div class="mb10">
        <label>Job title<b class="text-danger">*</b></label>
        <input class="form-control" formControlName="jobTitle">
        <small class="text-danger"
               *ngIf="jobCreateForm.controls['jobTitle'].touched && jobCreateForm.controls['jobTitle'].hasError('required')">
            Title
            is required !
        </small>
    </div>

    <div class="mb10">
        <label>Job description<b class="text-danger">*</b></label>
        <textarea class="form-control" rows="5" formControlName="jobDescription"></textarea>
        <small class="text-danger"
               *ngIf="jobCreateForm.controls['jobDescription'].touched && jobCreateForm.controls['jobDescription'].hasError('required')">
            Description
            is required !
        </small>
    </div>

    <div class="mb10">
        <mat-checkbox formControlName="isPrivate"></mat-checkbox>
        <label style="margin-left: 10px;">Private</label>
    </div>


    <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!jobCreateForm.valid">
            Submit
        </button>
    </div>
</form>
