<div class="dialog">
    <h2 mat-dialog-title>Create a Job</h2>
    <form class="job-create-form" [formGroup]="jobCreateForm" (ngSubmit)="onJobCreate()">
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill>
                <mat-form-field class="w-100">
                    <mat-select placeholder="Job Type" [(ngModel)]="jobTypeSelected" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let jobType of jobTypes" [value]="jobType">
                            {{jobType.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </div>
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div class="mb10" fxFlexFill>
                <label>Job title<b class="text-danger">* Minimum length of 5 characters</b></label>
                <input class="form-control" formControlName="jobTitle">
                <small class="text-danger"
                       *ngIf="jobCreateForm.controls['jobTitle'].touched && jobCreateForm.controls['jobTitle'].hasError('required')">
                    Title
                    is required !
                </small>
            </div>
        </div>
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div class="mb10" fxFlexFill>
                <label>Job description<b class="text-danger">* Minimum length of 5 characters</b></label>
                <textarea class="form-control" rows="5" formControlName="jobDescription"  minlength="5"></textarea>
                <small class="text-danger"
                       *ngIf="jobCreateForm.controls['jobDescription'].touched && jobCreateForm.controls['jobDescription'].hasError('required')">
                    Description
                    is required !
                </small>
            </div>
        </div>
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill class="mb10">
                <mat-checkbox formControlName="isPrivate"></mat-checkbox>
                <label style="margin-left: 10px;">Private</label>
            </div>
        </div>
        <div fxFlex fxLayout="row" fxLayout.lt-md="column" *ngIf="jobCreateForm.controls['isPrivate'].value">
            <div class="mb2">
                <div style="color: red">*If you make this job private no one can apply for your job. You have to invite people.You can do that now or latter.</div>
            </div>
            <div class="mb10">
                <button mat-raised-button color="primary" type="button" (click)="invitePeople()">
                    Invite people for your job
                </button>
            </div>
        </div>
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill class="mb10">
                <app-ability-selector [selectedAbilities]="selectedAbilities"></app-ability-selector>
            </div>
        </div>
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill>
                <button mat-raised-button color="primary" type="submit" [disabled]="!jobCreateForm.valid">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>
<app-invite-people-job *ngIf="showInviteModal" [selectedUsers]="invitedUsers" [showInvite]="false" (close)="closeInviteDialog()"></app-invite-people-job>
