<div class="mt20 col-md-12">
    <button  mat-icon-button style="float:right" matTooltip="{{'viewProfile' | translate}}" (click)="goToViewProfile()"><mat-icon>account_circle</mat-icon></button>
    <form [formGroup]="profileForm" (ngSubmit)="onChangeUserData()">
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill class="">
                <mat-form-field class="w-100">
                    <input matInput placeholder="{{'firstName' | translate }}" formControlName="firstName">
                </mat-form-field>
            </div>
            <small class="text-danger"
                *ngIf="profileForm.controls['firstName'].touched && !profileForm.controls['firstName'].valid">
                {{'firstNameRequired' | translate }}
            </small>
        </div>

        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill class="">
                <mat-form-field class="w-100">
                    <input matInput placeholder="{{'lastName' | translate }}" formControlName="lastName">
                </mat-form-field>
            </div>
            <small class="text-danger"
                *ngIf="profileForm.controls['lastName'].touched && !profileForm.controls['lastName'].valid">
                {{'lastNameRequired' | translate}}
            </small>
        </div>

        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill>
                <mat-form-field class="w-100">
                    <input matInput [matDatepicker]="picker" placeholder="{{'chooseDate' | translate }}" formControlName="birthDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <small class="text-danger"
                *ngIf="profileForm.controls['birthDate'].touched && profileForm.controls['birthDate'].hasError('invalidDate')">
                {{'invalidDate' | translate}}
            </small>
        </div>

        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill>
                <mat-form-field class="w-100">
                    <input matInput placeholder="{{'town' | translate }}" formControlName="town">
                </mat-form-field>
            </div>
            <small class="text-danger"
                *ngIf="profileForm.controls['town'].touched && !profileForm.controls['town'].valid">
                {{'invalidTown' | translate }}
            </small>
        </div>

        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill>
                <mat-form-field class="w-100">
                    <input matInput placeholder="Email *" formControlName="email">
                </mat-form-field>
            </div>
        </div>

        <div class="" style="border-top: 1px dotted darkgrey;border-bottom: 1px dotted darkgrey;padding:10px;margin-bottom: 5px">
            <small style="color:grey">{{'profilePicture' | translate }}</small><br><br>
            <input type="file" style="display: none" #fileInput (change)="onFileChanged($event)">
            <button mat-raised-button class="mat-primary" type="button" (click)="fileInput.click()" style="margin-bottom: 20px">{{'pickLogoImage' |translate}}</button>
            <img [src]="localUrl" *ngIf="localUrl && validSelectedFile;else imageNotSelected" alt="Please select an image" style="margin-left:10px;max-height: 50px">
            <ng-template #imageNotSelected> {{'selectLogoImage' | translate }}</ng-template>
        </div>

        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill>
                <button type="submit" mat-raised-button color="primary" class="w-100"
                        [disabled]="!profileForm.valid">
                    {{'save' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>
