<ng-template #InviteModal>
    <div class="dialog">
        <h2 mat-dialog-title>{{'invitePeopleForYourJob' | translate}}</h2>

        <mat-selection-list [(ngModel)]="selectedJobs">
            <mat-list-option *ngFor="let job of allJobs"
                             [value]="job">
                <div style="display:flex">
                    {{job.title}}
                </div>
            </mat-list-option>
        </mat-selection-list>

        <mat-card-actions>
            <div fxFlex fxLayoutAlign="center">
                <button mat-button (click)="inviteToJob()">
                    <mat-icon class="nav-icon">send</mat-icon>
                    {{'invite' | translate}}
                </button>
                <button mat-button (click)="closeDialog()">
                    <mat-icon class="nav-icon">cancel</mat-icon>
                    {{'close' | translate}}
                </button>
            </div>
        </mat-card-actions>
    </div>
</ng-template>
